<div class="<%= params[:action]%>_details" id="collection_metadata_wrapper">
  <div id="item_metadata" class="well">
    <h4>More Information</h4>
    <dl class="defList dl-horizontal">
      <%# creator field - need to figure out handling of multiple creators/roles %>
      <% if document[:name_personal_tsim] || document[:name_corporate_tsim] %>
          <dt>
            <% if document[:name_personal_role_tsim]  || document[:name_corporate_role_tsim] %>
                <% if document[:name_personal_role_tsim] %>
                    <%= document[:name_personal_role_tsim].first.strip %>:
                <% else %>
                    <%= document[:name_corporate_role_tsim].first.strip %>:
                <% end %>
            <% else %>
                Creator:
            <% end %>
          </dt>
          <dd>
            <% if document[:name_personal_tsim] %>
                <%= document[:name_personal_tsim].first %>
            <% else %>
                <%= document[:name_corporate_tsim].first %>
            <% end %>
          </dd>
      <% end %>
      <%# publisher field %>
      <% if document[:publisher_tsim] %>
        <dt>Publisher:</dt>
        <dd>
          <% document[:publisher_tsim].each do |publisher| %>
            <%= publisher %><br />
          <% end %>
        </dd>
      <% end %>
      <%# institution field %>
      <% if document[:physical_location_ssim] && document[:physical_location_ssim] != document[:name_corporate_tsim] %>
          <dt>Holding Institution:</dt>
          <dd>
            <% document[:physical_location_ssim].each do |institution| %>
                <%= institution %><br />
            <% end %>
          </dd>
      <% end %>
      <%# sublocation field %>
      <% if document[:sub_location_tsim] %>
          <dt>Sub-location:</dt>
          <dd>
            <% document[:sub_location_tsim].each do |subloc| %>
                <%= subloc %><br />
            <% end %>
          </dd>
      <% end %>
      <%# date field  %>
      <% if document[:date_start_tsim] %>
          <% @date_end = document[:date_end_tsim] ? document[:date_end_tsim].first : nil %>
          <% @date_start_qualifier = document[:date_start_qualifier_ssm] ? document[:date_start_qualifier_ssm].first : nil %>
          <dt>Date:</dt>
          <dd>
            <%= render_mods_dates(document[:date_start_tsim].first, @date_end, @date_start_qualifier) %>
          </dd>
      <% end %>
      <%# genre field - basic %>
      <% if document[:genre_basic_ssim] %>
          <dt>Formats:</dt>
          <dd>
            <% document[:genre_basic_ssim].each do |format| %>
                <%= link_to_facet(format, 'genre_basic_ssim') %><br />
            <% end %>
          </dd>
      <% end %>
      <%# genre field - specific %>
      <% if document[:genre_specific_ssim] %>
          <dt>Genres:</dt>
          <dd>
            <% document[:genre_specific_ssim].each do |genre| %>
                <%= link_to_facet(genre, 'genre_specific_ssim') %><br />
            <% end %>
          </dd>
      <% end %>
      <%# lang field %>
      <% if document[:lang_val_uri_ssim] %>
          <dt>Language:</dt>
          <dd>
            <% document[:lang_val_uri_ssim].each do |lang| %>
              <%= lang.gsub(/http:\/\/id.loc.gov\/vocabulary\/iso639-2\//,'') %><br/>
            <% end %>
          </dd>
      <% end %>
      <%# note field %>
      <% if document[:note_tsim] %>
          <dt>Notes:</dt>
          <dd>
            <% document[:note_tsim].each do |note| %>
                <%= note %><br/>
            <% end %>
          </dd>
      <% end %>
      <%# extent field %>
      <% if document[:extent_tsi] %>
          <dt>Extent:</dt>
          <dd>
            <%= document[:extent_tsi] %>
          </dd>
      <% end %>
      <%# ARK URI field %>
      <% if document[:identifier_uri_ssi] %>
          <dt>Permalink:</dt>
          <dd>
            <%# t('blacklight.ark.prefix') + document[:id].gsub(/[\D]*:/,'') %>
            <%= document[:identifier_uri_ssi] %>
          </dd>
      <% end %>
      <%# rights field %>
      <% if document[:restriction_on_access_ssm] %>
          <dt>Terms of Use:</dt>
          <dd>
            <% document[:restriction_on_access_ssm].each do |terms| %>
                <%= terms %><br />
            <% end %>
          </dd>
      <% end %>
    </dl>
  </div>
</div>