<% @page_title = t('blacklight.bookmarks.title') + " - " + application_name %>

<h2>Folder: <%= t('blacklight.bookmarks.title') %></h2>

<p><%= t('blacklight.bookmarks.description') %></p>

<%- if current_or_guest_user.blank? -%>

    <h4><%= t('blacklight.bookmarks.need_login') %></h4>

<%- elsif @document_list.blank? -%>

    <h4><%= t('blacklight.bookmarks.no_bookmarks') %></h4>
    <p><%= t('blacklight.folders.help.add_items') %></p>
<% else %>
    <%= render 'sort_and_per_page' %>

    <%= render 'tools' %>
    <%= render_document_index %>
    <%= render 'results_pagination' %>
<% end %>
