<%= form_for(form_object) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
    <div class="form_field">
      <%= f.label :title %><br/><%= f.text_field :title %>
    </div>
    <div class="form_field">
      <%= f.label :description %><br/><%= f.text_area :description, :size => "24x4" %>
    </div>
    <div class="actions">
      <%= f.submit submit_button_text %>
    </div>
<% end %>