<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3><%= t('blacklight.folders.add_folder') %></h3>
</div>

<%- unless flash[:success] %>
    <%= form_tag url_for(:controller => "folders",
                         :action => "create_folder_catalog"),
                 :id => 'new_folder',
                 :class => "form-horizontal ajax_form",
                 :method => :post do %>

        <div class="modal-body">
          <p><%= t('blacklight.folders.intro') %></p>
          <%= render :partial=>'/flash_msg' %>
          <div class="control-group">
            <label class="control-label" for="title">
              Title
            </label>
            <div class="controls">
              <%= text_field_tag :title, params[:title] %><br/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="description">
              Description
            </label>
            <div class="controls">
              <%= text_area_tag :description, params[:description] %>
            </div>
          </div>
          <%= hidden_field_tag "id[]", params[:id] %>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Create folder</button>
        </div>
    <% end %>
<%- else %>
    <div class="modal-body">
      <%= render :partial=>'/flash_msg' %>
      <span class="ajax-close-modal"/>
    </div>
<%- end %>