<% @page_title = t('blacklight.folders.list_title') + " - " + application_name %>

<h2><%= t('blacklight.folders.list_title') %></h2>

<%- if current_user.blank? -%>

    <% redirect to login %>

<%- elsif @folders.blank? -%>

    <p><%= t('blacklight.folders.intro') %></p>
    <p><strong><%= t('blacklight.folders.add_folder') %></strong></p>
    <%= render 'new_edit_form_fields', :form_object => current_user.folders.new, :submit_button_text => "Create folder" %>

<%- else -%>

    <div id="user_folders" class="folder_container">
        <p><%= link_to "Create a new folder", new_folder_path %></p>
        <ul id="user_folder_list">
            <%= render @folders %>
        </ul>
    </div>

<% end %>