<% @page_title = t('blacklight.folders.list_title') + " - " + application_name %>
<div class="span12">
<h2><%= t('blacklight.folders.list_title') %></h2>

<% if current_or_guest_user.blank? %>

    <% redirect to login %>

<% else %>

    <div id="user_folders" class="folder_container">
      <p><%= t('blacklight.folders.intro') %></p>
      <p><%= link_to "Create a new folder",
                     new_folder_path,
                     :id => 'create_folder_link' %></p>
      <ul id="user_folder_list">
        <li>
          <h4><%= link_to t('blacklight.bookmarks.title'), bookmarks_path, :class => "folder_title" %></h4>
          <%= t('blacklight.bookmarks.description') %>
        </li>
        <% unless @folders.blank? %>
            <%= render @folders %>
        <% end %>
      </ul>
    </div>


<% end %>

</div>