<% @page_title = t('blacklight.folders.list_title') + " - " + application_name %>
<div class="span9">

  <div id="breadcrumb">
    <ul class="breadcrumb">
      <li>
        <%= link_to(t('blacklight.users.account_heading'), current_user) %>
        <span class="divider"><%= t('blacklight.breadcrumb.separator') %></span>
      </li>
      <li class="active">
        <%= t('blacklight.folders.list_title') %>
      </li>
    </ul>
  </div>

<h2>
  <%= t('blacklight.folders.list_title') %>
  <small id="add_folder">
    <%= link_to(
                content_tag(:i, '', :class=>'icon-plus') + ' add folder',
                new_folder_path,
                :id => 'create_folder_link',
                :class => 'btn btn-small'
        ) %>
  </small>
</h2>

<% if current_or_guest_user.blank? %>

    <% redirect to login %>

<% else %>

    <div id="user_folders" class="folder_container">
      <p><%= t('blacklight.folders.intro') %></p>
      <ul id="user_folder_list">
        <li>
          <h4>
            <%= link_to t('blacklight.bookmarks.title'), bookmarks_path, :class => "folder_title" %>
            <small>
              <%= pluralize(current_or_guest_user.bookmarks.length.to_s,
                            'item') %>
            </small>
          </h4>
          <%= t('blacklight.bookmarks.description') %>
        </li>
        <% unless @folders.blank? %>
            <%= render @folders %>
        <% end %>
      </ul>
    </div>


<% end %>

</div>

