<% @page_title = @folder.title + " - " + application_name %>

<%= javascript_include_tag 'commonwealth/folder_tools' %>

<div id="content" class="folder_show_container span9">

  <div id="breadcrumb">
    <ul class="breadcrumb">
      <% if current_user %>
          <li>
            <%= link_to(t('blacklight.users.account_heading'), current_user) %>
            <span class="divider"><%= t('blacklight.breadcrumb.separator') %></span>
          </li>
      <% end %>
      <li>
        <%= link_to(t('blacklight.folders.list_title'), folders_path) %>
        <span class="divider"><%= t('blacklight.breadcrumb.separator') %></span>
      </li>
      <li class="active">
        <%= @folder.title %>
      </li>
    </ul>
  </div>

  <h2>
    <%= @folder.title %>
    <% if current_user %>
        <small id="folder_tools">
          <%= link_to(content_tag(:i,'',:class=>'icon-pencil') + ' ' + t('blacklight.folders.edit'),
                      edit_folder_path(@folder),
                      :class => 'btn btn-small',
                      :title => 'edit this folder') %>
          <%= link_to(content_tag(:i,'',:class=>'icon-trash') + ' ' + t('blacklight.folders.delete.delete'),
                      @folder,
                      :class => 'btn btn-small',
                      :method => :delete,
                      :data => { :confirm => t('blacklight.folders.delete.confirm') },
                      :title => t('blacklight.folders.delete.delete')) %>
          <% if @folder_items.length > 0 %>
              <%= link_to(content_tag(:i,'',:class=>'icon-remove') + ' ' + t('blacklight.folder_items.clear.action'),
                          clear_folder_items_path,
                          :class => 'btn btn-small',
                          :method => :delete,
                          :data => { :confirm => t('blacklight.folder_items.clear.confirm') }) %>
          <% end %>
        </small>
    <% end %>
  </h2>

  <%# render 'shared/tools' %>
  <% if @folder.description %>
      <div id="folder_description">
        <%= @folder.description %>
      </div>
  <% end %>

  <% unless @folder_items.empty? %>

      <%= render 'catalog/sort_and_per_page' %>

      <%= form_tag selected_folder_items_actions_path, :method => :put, :id => "item_actions_form" do %>

        <%= render :partial => 'shared/folder_item_actions' %>

        <%= render_document_index %>

      <% end %>

      <%= render 'catalog/results_pagination' %>

  <% else %>
    <div id="empty_folder" class="well">
      <h5><%= t('blacklight.folders.empty') %></h5>
      <p><%= t('blacklight.folders.help.add_items') %></p>
    </div>

  <% end %>

</div>

<div id="sidebar" class="span3 folder_facets">
  <%= render :partial=>'catalog/facets' %>
</div><!--/well -->
