<% @page_title = @folder.title + " - " + application_name %>

<div id="content" class="folder_container span9">

  <h2>Folder: <%= @folder.title %>
    <% if current_user %>
    <small>
      [<%= link_to t('blacklight.folders.edit'),
                   edit_folder_path(@folder),
                   :title => "edit this folder" %> |
      <%= link_to t('blacklight.folders.delete.delete'),
                  @folder, :method => :delete,
                  :data => { :confirm => t('blacklight.folders.delete.confirm') },
                  :title => t('blacklight.folders.delete.delete') %> |
      <%= link_to t('blacklight.folder_items.clear.action'),
                  clear_folder_items_path,
                  :method => :delete,
                  :data => { :confirm => t('blacklight.folder_items.clear.confirm') } %>]</small>
    <% end %>
  </h2>
  <% if @folder.description %>
      <p><%= @folder.description %></p>
  <% end %>
  <% unless @folder_items.empty? %>

        <%= render 'catalog/sort_and_per_page' %>
        <%= render 'tools' %>
      <%= form_tag selected_folder_items_actions_path, :method => :put, :remote => true do %>
          <%= hidden_field_tag(:per_page, params[:per_page]) %>
          <%= hidden_field_tag(:sort, params[:sort]) %>
          <%=  submit_tag t('blacklight.tools.cite'),
                          :class => "btn" %>
          <%=  submit_tag t('blacklight.tools.email'),
                          :class => "btn" %>
          <%=  submit_tag t('blacklight.tools.remove'), :class => "btn" %>

        <%= render_document_index %>
      <% end %>
        <%= render 'catalog/results_pagination' %>

  <% else %>
    <p><strong><%= t('blacklight.folders.empty') %></strong></p>
    <p><%= t('blacklight.folders.help.add_items') %></p>
  <% end %>

</div>

<div id="sidebar" class="span3 folder_facets">
  <%= render :partial=>'catalog/facets' %>
</div><!--/well -->
