<% @page_title = t('blacklight.search_history.title') + " - " + application_name %>
<div class="span9" id="search_history_content">
<%# sidebar_items << capture do %>
    <!-- <p><%# link_back_to_catalog %></p> -->
<%# end %>


<h2><%=t('blacklight.search_history.title')%></h2>
<%- if @searches.blank? -%>
    <h4><%=t('blacklight.search_history.no_history')%></h4>
      <p>Search for items by entering keywords in the search bar at the top right.</p>
<%- else -%>
    <h3>
      <%=t('blacklight.search_history.recent')%>
      <small>
        [<%= link_to t('blacklight.search_history.clear.action_title'), clear_search_history_path, :method => :delete, :data => { :confirm => t('blacklight.search_history.clear.action_confirm') } %>]
      </small>
    </h3>
    <table class="table search_history">
      <%-  @searches.each_with_index do |search,index| -%>
          <%= content_tag :tr, :id => "document_#{index + 1}" do %>
              <td class="query"><%= link_to_previous_search(search.query_params) %></td>
              <%- if has_user_authentication_provider? -%>
                  <td class="actions">
                    <%- if current_or_guest_user && search.saved? -%>
                        <%# button_to t('blacklight.search_history.forget'), forget_search_path(search.id) %>
                         <%= content_tag(:i, '', :class => 'icon-ok') %>
                         In your <%= link_to t('blacklight.saved_searches.title'),
                                            saved_searches_path %>
                    <%- else -%>
                        <%= button_to t('blacklight.search_history.save'), save_search_path(search.id), :method => :put %>
                    <%- end -%>
                  </td>
              <%- end -%>
          <% end #content_tag %>
      <%- end -%>
    </table>
<%- end -%>
</div>