<%# display geographic subject values %>
<% all_geo_subjects = document[:subject_geographic_ssim] %>
<% if document[:subject_geo_country_ssim] %>
    <% document[:subject_geo_country_ssim].each_with_index do |country,index| %>
        <span class="hierarchical_geo_subject">
        <% all_geo_subjects.delete(country) %>
        <%= link_to_facet(country, 'subject_geographic_ssim') %>
        <% if document[:subject_geo_region_ssim] && document[:subject_geo_region_ssim][index] %>
            <% all_geo_subjects.delete(document[:subject_geo_region_ssim][index]) %>
              <%= content_tag(:span, t('blacklight.breadcrumb.separator'), :class => 'geo_breadcrumb_separator') %>
              <%= link_to_facet(document[:subject_geo_region_ssim][index], 'subject_geographic_ssim') + ' (region)' %>
        <% end %>
        <% if document[:subject_geo_area_ssim] && document[:subject_geo_area_ssim][index] %>
            <% all_geo_subjects.delete(document[:subject_geo_area_ssim][index]) %>
            <%= content_tag(:span, t('blacklight.breadcrumb.separator'), :class => 'geo_breadcrumb_separator') %>
            <%= link_to_facet(document[:subject_geo_area_ssim][index], 'subject_geographic_ssim') + ' (area)' %>
        <% end %>
        <% if document[:subject_geo_territory_ssim] && document[:subject_geo_territory_ssim][index] %>
            <% all_geo_subjects.delete(document[:subject_geo_territory_ssim][index]) %>
            <%= content_tag(:span, t('blacklight.breadcrumb.separator'), :class => 'geo_breadcrumb_separator') %>
            <%= link_to_facet(document[:subject_geo_territory_ssim][index], 'subject_geographic_ssim') + ' (territory)' %>
        <% end %>
        <% if document[:subject_geo_state_ssim] && document[:subject_geo_state_ssim][index] %>
            <% all_geo_subjects.delete(document[:subject_geo_state_ssim][index]) %>
              <%= content_tag(:span, t('blacklight.breadcrumb.separator'), :class => 'geo_breadcrumb_separator') %>
              <%= link_to_facet(document[:subject_geo_state_ssim][index], 'subject_geographic_ssim') %>
        <% end %>
        <% if document[:subject_geo_province_ssim] && document[:subject_geo_province_ssim][index] %>
            <% all_geo_subjects.delete(document[:subject_geo_province_ssim][index]) %>
            <%= content_tag(:span, t('blacklight.breadcrumb.separator'), :class => 'geo_breadcrumb_separator') %>
            <%= link_to_facet(document[:subject_geo_province_ssim][index], 'subject_geographic_ssim') + ' (province)' %>
        <% end %>
        <% if document[:subject_geo_county_ssim] && document[:subject_geo_county_ssim][index] %>
            <% all_geo_subjects.delete(document[:subject_geo_county_ssim][index] + ' (county)') %>
            <%= content_tag(:span, t('blacklight.breadcrumb.separator'), :class => 'geo_breadcrumb_separator') %>
            <%= link_to_facet(document[:subject_geo_county_ssim][index] + ' (county)', 'subject_geographic_ssim') %>
        <% end %>
        <% if document[:subject_geo_island_ssim] && document[:subject_geo_island_ssim][index] %>
            <% all_geo_subjects.delete(document[:subject_geo_island_ssim][index]) %>
            <%= content_tag(:span, t('blacklight.breadcrumb.separator'), :class => 'geo_breadcrumb_separator') %>
            <%= link_to_facet(document[:subject_geo_island_ssim][index], 'subject_geographic_ssim') + ' (island)' %>
        <% end %>
        <% if document[:subject_geo_city_ssim] && document[:subject_geo_city_ssim][index] %>
            <% all_geo_subjects.delete(document[:subject_geo_city_ssim][index]) %>
            <%= content_tag(:span, t('blacklight.breadcrumb.separator'), :class => 'geo_breadcrumb_separator') %>
            <%= link_to_facet(document[:subject_geo_city_ssim][index], 'subject_geographic_ssim') %>
        <% end %>
        <% if document[:subject_geo_citysection_ssim] && document[:subject_geo_citysection_ssim][index] %>
            <% all_geo_subjects.delete(document[:subject_geo_citysection_ssim][index]) %>
            <%= content_tag(:span, t('blacklight.breadcrumb.separator'), :class => 'geo_breadcrumb_separator') %>
            <%= link_to_facet(document[:subject_geo_citysection_ssim][index], 'subject_geographic_ssim') %>
        <% end %>
        </span><br />
    <% end %>
<% end %>
<% unless all_geo_subjects.blank? %>
    <% all_geo_subjects.each do |subject_geo| %>
        <%= link_to_facet(subject_geo, 'subject_geographic_ssim') %><br />
    <% end %>
<% end %>