<%= javascript_include_tag "djatoka_viewer/mootools-1.2-core-compressed.js" %>
<%= javascript_include_tag "djatoka_viewer/mootools-1.2-more-compressed.js" %>
<%= javascript_include_tag "djatoka_viewer/iipmooviewer-1.1_bpl.js" %>


<script type="text/javascript">

    // jQuery.noConflict();
    jQuery(document).ready(function() {

        var dialog;
        dialog = jQuery('#img_viewer_modal')
                .dialog({
                    autoOpen:false,
                    title:'<%= object_title %>',
                    dialogClass:"img_viewer",
                    hide:{ effect:'highlight' },
                    modal:true,
                    width:jQuery(window).width() - 25,
                    height:jQuery(window).height() - 25,
                    close: function()
                    {
                        jQuery('#img_viewer').remove();
                    }
                });

        jQuery('#img_show_container').click(function() {
            dialog.dialog('open').css('overflow', 'hidden');
            iip = new IIP( "img_viewer_modal", {
                image: '<%= image_datastream %>',
                server: '<%= Rails.configuration.djatoka_resolver.base_url %>',
                zoom: 1,
                render: 'random',
                showNavButtons: true,
                levels: <%= image_metadata.levels.to_i %>,
                max_height: <%= image_metadata.height.to_i %>,
                max_width: <%= image_metadata.width.to_i %>
            });
            return false;
        });

    });
</script>

<div id="img_viewer_modal"></div>
