<div class="<%= params[:action]%>_details span9">
<div id="item_metadata" class="well">
  <h3>Item Information</h3>
  <dl class="defList dl-horizontal">
    <%# title field %>
    <dt>Title:</dt>
    <dd>
      <% document[:mods_title_info_ssm].each do |title| %>
          <%= title %><br />
      <% end %>
    </dd>
    <%# abstract/description field %>
    <% if document[:abstract_ssm] %>
        <dt>Description:</dt>
        <dd>
          <% document[:abstract_ssm].each do |abstract_ssm| %>
              <%= abstract_ssm %><br />
          <% end %>
        </dd>
    <% end %>
    <%# genre field %>
    <dt>Format:</dt>
    <dd>
      <%# document[:mods_genre_basic_ssi].each do |format| %>
          <%= link_to_facet(document[:mods_genre_basic_ssi], 'mods_genre_basic_ssi') %><!-- <br /> -->
      <%# end %>
    </dd>
    <%# collex field %>
    <dt>Collection:</dt>
    <dd>
      <% document[:collection_name_ssim].each do |collection| %>
          <%= link_to_facet(collection, 'collection_name_ssim') %><br />
      <% end %>
    </dd>
    <%# local-other id field %>
    <% if document[:local_other_id_ssim] %>
        <dt>ID (local):</dt>
        <dd>
          <% document[:local_other_id_ssim].each do |local_other| %>
              <%= local_other %><br />
          <% end %>
        </dd>
    <% end %>
    <%# ARK URI field %>
    <dt>Permalink:</dt>
    <dd>
      <%= t('blacklight.ark.prefix') + document[:id].gsub(/[\D]*:/,'') %>
    </dd>
  </dl>
</div>
</div>