<div id="show_content_warning" class="alert alert-warning">
  <%= t('blacklight.flagged.warning') %>
  This material has been collected as part of <%= document[blacklight_config.institution_field].first %>'s
  mission to preserve the historic record; Digital Commonwealth and <%= document[blacklight_config.institution_field].first %>
  do not necessarily endorse the viewpoints expressed within. For more information, please view the
  <%= link_to document[blacklight_config.collection_field].first, collection_path(document['collection_ark_id_ssim'].first) %>
  collection description, and our
  <%= link_to t('blacklight.pages.content_statement.title'), content_statement_path %>.
</div>
