<div class="<%= params[:action]%>_details span9">
<div id="item_metadata" class="well">
  <h3>Item Information</h3>
  <dl class="defList dl-horizontal">
    <%# title field %>
    <% if document[blacklight_config.index.show_link.to_sym] %>
      <dt>Title:</dt>
      <dd>
        <%# document[blacklight_config.index.show_link.to_sym].each do |title| %>
            <%= document[blacklight_config.index.show_link.to_sym] %>
            <% if document[:subtitle_tsim] %>
                : <%= document[:subtitle_tsim].first %>
            <% end %>
        <%# end %>
      </dd>
    <% end %>
    <%# abstract/description field %>
    <% if document[:abstract_tsim] %>
        <dt>Description:</dt>
        <dd>
          <% document[:abstract_tsim].each do |abstract| %>
            <%= abstract %>
          <% end %>
        </dd>
    <% end %>
    <%# creator field - assumes equal # of roles and creator names %>
    <% if document[:name_personal_tsim] || document[:name_corporate_tsim] %>
      <% if document[:name_personal_tsim] %>
        <% 0.upto document[:name_personal_tsim].length-1 do |index| %>
            <dt>
                <% if document[:name_personal_role_tsim][index] %>
                    <%= document[:name_personal_role_tsim][index].strip %>:
                <% else %>
                    Creator:
                <% end %>
            </dt>
            <dd>
              <%= document[:name_personal_tsim][index] %>
            </dd>
        <% end %>
      <% end %>
      <% if document[:name_corporate_tsim] %>
          <% 0.upto document[:name_corporate_tsim].length-1 do |index| %>
              <dt>
                <% if document[:name_corporate_role_tsim][index] %>
                    <%= document[:name_corporate_role_tsim][index].strip %>:
                <% else %>
                    Creator:
                <% end %>
              </dt>
              <dd>
                <%= document[:name_corporate_tsim][index] %>
              </dd>
          <% end %>
      <% end %>
    <% end %>
    <%# note type=statement of responsibility field %>
    <% if document[:note_resp_tsim] %>
      <dt>Statement of Resp.:</dt>
      <dd>
        <% document[:note_resp_tsim].each do |resp| %>
            <%= resp %><br />
        <% end %>
      </dd>
     <% end %>
    <%# publisher field %>
    <% if document[:publisher_tsim] %>
    <dt>Publisher:</dt>
    <dd>
      <% 0.upto document[:publisher_tsim].length-1 do |index| %>
          <% if document[:pubplace_tsim] %>
            <%# (if pubplace, assumes equal number of publishers and pubplaces)  %>                     <%= document[:pubplace_tsim][index] %> :
          <% end %>
          <%= document[:publisher_tsim][index] %>
      <% end %>
    </dd>
    <% end %>
    <%# date field  %>
    <% if document[:date_start_tsim] %>
        <% @date_end = document[:date_end_tsim] ? document[:date_end_tsim].first : nil %>
        <% @date_start_qualifier = document[:date_start_qualifier_ssm] ? document[:date_start_qualifier_ssm].first : nil %>
        <dt>Date:</dt>
        <dd>
          <%= render_mods_dates(document[:date_start_tsim].first, @date_end, @date_start_qualifier) %>
        </dd>
    <% end %>
    <%# genre field - basic %>
    <% if document[:genre_basic_ssim] %>
    <dt>Format:</dt>
    <dd>
      <% document[:genre_basic_ssim].each do |format| %>
          <%= link_to_facet(format, 'genre_basic_ssim') %><br />
      <% end %>
    </dd>
    <% end %>
    <%# genre field - specific %>
    <% if document[:genre_specific_ssim] %>
        <dt>Genre:</dt>
        <dd>
          <% document[:genre_specific_ssim].each do |genre| %>
              <%= link_to_facet(genre, 'genre_specific_ssim') %><br />
          <% end %>
        </dd>
    <% end %>
    <%# collex field %>
    <%# if document[blacklight_config.collection_field.to_sym] %>
    <!--
    <dt>Digital Collection:</dt>
    <dd>
      <%# document[blacklight_config.collection_field.to_sym].each do |collection| %>
          <%# link_to_facet(collection, 'collection_name_ssim') %><br />
      <%# end %>
    </dd>
    -->
    <%# end %>
    <%# physical location field %>
    <% if document[:physical_location_ssim] %>
    <dt>Location:</dt>
    <dd>
      <%= link_to_facet(document[:physical_location_ssim].first,
                        'physical_location_ssim') %><%= ', ' + document[:sub_location_tsim].first if document[:sub_location_tsim] %>
    </dd>
    <% end %>
    <%# topic field %>
    <% if document[:subject_topic_tsim] || document[:subject_name_corporate_tsim] || document[:subject_name_personal_tsim] %>
        <dt>Subjects:</dt>
        <dd>
          <% if document[:subject_topic_tsim] %>
            <% document[:subject_topic_tsim].each do |topic| %>
                <%= link_to_facet(topic, 'subject_facet_ssim') %><br />
            <% end %>
          <% end %>
          <% if document[:subject_name_corporate_tsim] %>
              <% document[:subject_name_corporate_tsim].each do |corp_name| %>
                  <%= link_to_facet(corp_name, 'subject_facet_ssim') %><br />
              <% end %>
          <% end %>
          <% if document[:subject_name_personal_tsim] %>
              <% document[:subject_name_personal_tsim].each do |pers_name| %>
                  <%= link_to_facet(pers_name, 'subject_facet_ssim') %><br />
              <% end %>
          <% end %>
          <% if document[:subject_name_conference_tsim] %>
              <% document[:subject_name_conference_tsim].each do |conf_name| %>
                  <%= link_to_facet(conf_name, 'subject_facet_ssim') %><br />
              <% end %>
          <% end %>
        </dd>
    <% end %>
    <%# geo subject field %>
    <% if document[:subject_geographic_ssim] %>
        <dt>Places:</dt>
        <dd>
            <% document[:subject_geographic_ssim].each do |subject_geo| %>
                <%= link_to_facet(subject_geo, 'subject_geographic_ssim') %><br />
            <% end %>
        </dd>
    <% end %>
    <%# note field %>
    <% if document[:note_tsim] %>
        <dt>Notes:</dt>
        <dd>
          <% document[:note_tsim].each do |note| %>
            <%= note %><br/>
          <% end %>
        </dd>
    <% end %>
    <%# related item host field (physical collection) %>
    <% if document[:related_item_host_ssim] %>
        <dt>Physical Collection:</dt>
        <dd>
            <% document[:related_item_host_ssim].each do |related_host| %>
                <%= link_to_facet(related_host, 'related_item_host_ssim') %><br />
            <% end %>
        </dd>
    <% end %>
    <%# related item series field (series) %>
    <% if document[:related_item_series_ssim] %>
        <dt>Series:</dt>
        <dd>
            <% document[:related_item_series_ssim].each do |related_series| %>
                <%= link_to_facet(related_series, 'related_item_series_ssim') %><br />
            <% end %>
        </dd>
    <% end %>
    <%# extent field %>
    <% if document[:extent_tsi] %>
      <dt>Extent:</dt>
      <dd>
        <%= document[:extent_tsi] %>
      </dd>
    <% end %>
    <%# lang field %>
    <% if document[:lang_term_ssim] %>
      <dt>Language:</dt>
      <dd>
        <% document[:lang_term_ssim].each do |lang| %>
            <%= lang %><br/>
        <% end %>
      </dd>
    <% end %>
    <%# local-accession id field %>
    <% if document[:local_accession_id_tsim] %>
      <dt>Accession # (local):</dt>
      <dd>
        <% document[:local_accession_id_tsim].each do |accession| %>
            <%= accession %><br />
        <% end %>
      </dd>
    <% end %>
    <%# local-other id field %>
    <% if document[:identifier_local_other_tsim] %>
      <dt>Identifier (local):</dt>
      <dd>
        <% document[:identifier_local_other_tsim].each do |local_other| %>
            <%= local_other %><br />
        <% end %>
      </dd>
    <% end %>
    <%# related item isReferencedBy field %>
    <% if document[:related_item_isreferencedby_ssm] %>
        <dt>Referenced By:</dt>
        <dd>
            <% document[:related_item_isreferencedby_ssm].each do |reference| %>
                <%= link_to(reference, reference, :target => '_blank') %><br />
            <% end %>
        </dd>
    <% end %>
    <%# ARK URI field %>
    <% if document[:identifier_uri_ss] %>
      <dt>Permalink:</dt>
      <dd>
        <%# t('blacklight.ark.prefix') + document[:id].gsub(/[\D]*:/,'') %>
        <%= link_to(document[:identifier_uri_ss],document[:identifier_uri_ss]) %>
      </dd>
    <% end %>
    <%# rights field %>
    <% if document[:use_and_reproduction_ssm] %>
      <dt>Terms of Use:</dt>
      <dd>
        <% document[:use_and_reproduction_ssm].each do |terms| %>
            <%= terms %><br />
        <% end %>
      </dd>
    <% end %>
  </dl>
    <div class="mods_link_wrapper">
      <%= link_to t('blacklight.tools.librarian_view.link'), librarian_view_catalog_path(@document), {:id => 'librarianLink', :class => 'lightboxLink'} %>
    </div>
</div>
</div>
