<%# default item data to show in index view %>
<%# create checkbox for folder actions (delete, move, etc.) %>
<% if params[:controller] == "folders" %>
    <%= check_box_tag("selected[]", document[:id]) %>
<% end %>
<div class="item_index_thumb">
  <%# hide for moment thumb = image_tag(datastream_disseminator_url(document[:id], "accessMaster"),
                       :alt => document[:title_t],
                       :class => "index_thumb") %>
  <% thumb = image_tag("http://glstfdora001:8983/fedora/objects/" + document[:id] + "/datastreams/accessMaster/content" ,
                       :alt => document[:title_t],
                       :class => "index_thumb") %>
  <% # bad hack to link to catalog#show rather than image#show %>
  <%= link_to thumb, "/catalog/" + document[:id] %>
</div>
<div class="item_index_title">
  <%= link_to_document(document, :label => :title_t, :counter => (document_counter + 1 + @response.params[:start].to_i)) %>
</div>
<div class="item_index_details">
  <dl class="index_defList">
    <dt>Document Type: </dt>
    <dd>
      <%= render_document_show_field_value(:document=>document, :field=>"active_fedora_model_s").gsub(/[A-Za-z]+::/,"") %>
    </dd>
    <dt>Collection: </dt>
    <dd>
      <%= render_document_show_field_value(:document=>document, :field=>"collection_label_s") %>
    </dd>
  </dl>
</div>