<%# default item data to show in index view %>

<%# create checkbox for folder actions (delete, move, etc.) %>
<% if params[:controller] == 'folders' || params[:controller] == 'bookmarks' %>
    <%= check_box_tag('selected[]', document[:id]) %>
<% end %>

<div class="media">
  <% if document[:exemplary_image_ss] %>
    <% thumb = image_tag(datastream_disseminator_url(document[:exemplary_image_ss], 'thumbnail300'),
                        :alt => document[blacklight_config.index.show_link.to_sym],
                        :class => 'index_thumb media-object') %>
    <%= link_to thumb,
                solr_document_path(:id => document[:id]),
                :class => 'pull-left',
                :'data-counter' => (document_counter + 1 + @response.params[:start].to_i) %>
  <% end %>
  <div class="media-body">

    <div class="item_index_title">
      <%= link_to_document(document, :label => blacklight_config.index.show_link.to_sym, :counter => (document_counter + 1 + @response.params[:start].to_i)) %>
    </div>

    <div class="item_index_details">
      <dl class="index_defList dl-horizontal">
        <%# genre field - basic %>
        <% if document[:genre_basic_ssim] %>
            <dt>Format:</dt>
            <dd>
              <% document[:genre_basic_ssim].each do |format| %>
                  <%= format %><br />
              <% end %>
            </dd>
        <% end %>
        <%# collex field %>
        <% if document[blacklight_config.collection_field.to_sym] %>
            <dt>Collection:</dt>
            <dd>
              <%= link_to(document[blacklight_config.collection_field.to_sym].first,
                          collection_path(:id => document[:collection_pid_ssm].first)) %><br />
            </dd>
        <% end %>
        <%# institution field %>
        <% if document[:institution_name_ssim] %>
            <dt>Institution:</dt>
            <dd>
              <%= link_to(document[:institution_name_ssim].first,
                          institution_path(:id => document[:institution_pid_ssi])) %><br />
            </dd>
        <% end %>
        <%# date field  %>
        <% if document[:date_start_tsim] %>
            <% @date_end = document[:date_end_tsim] ? document[:date_end_tsim].first : nil %>
            <% @date_start_qualifier = document[:date_start_qualifier_ssm] ? document[:date_start_qualifier_ssm].first : nil %>
            <dt>Date:</dt>
            <dd>
              <%= render_mods_dates(document[:date_start_tsim].first, @date_end, @date_start_qualifier) %>
            </dd>
        <% end %>
      </dl>
    </div>

  </div>

</div>