<%# default item data to show in index view %>

<%# create checkbox for folder actions (delete, move, etc.) %>
<% if params[:controller] == 'folders' || params[:controller] == 'bookmarks' %>
    <%= check_box_tag('selected[]', document[:id]) %>
<% end %>

<div class="media">
  <% if document[:has_image_ssim] %>
    <% thumb = image_tag(datastream_disseminator_url(document[:has_image_ssim].first.to_s.gsub(/info:fedora\//,""), "thumbnail300"),
                        :alt => document[:mods_title_info_ssm],
                        :class => 'index_thumb media-object') %>
    <% # bad hack to link to catalog#show rather than image#show %>
    <%= link_to thumb, '/search/' + document[:id], :class => 'pull-left', :'data-counter' => (document_counter + 1 + @response.params[:start].to_i) %>
  <% end %>
  <div class="media-body">

    <div class="item_index_title">
      <%= link_to_document(document, :label => :mods_title_info_ssm, :counter => (document_counter + 1 + @response.params[:start].to_i)) %>
    </div>

    <div class="item_index_details">
      <dl class="index_defList dl-horizontal">
        <dt>Format:</dt>
        <dd>
          <%= render_document_show_field_value(:document => document, :field => 'mods_genre_basic_ssim').gsub(/s\z/,"") %>
        </dd>
        <dt>Collection:</dt>
        <dd>
          <%= render_document_show_field_value(:document => document, :field => 'collection_name_ssim') %>
        </dd>
      </dl>
    </div>

  </div>

</div>