<%# default item data to show in index view %>

<%# create checkbox for folder actions (delete, move, etc.) %>
<% if params[:controller] == 'folders' || params[:controller] == 'bookmarks' %>
    <%= check_box_tag('selected[]', document[:id]) %>
<% end %>

<div class="media">
  <% if document[:has_image_ssim] %>
    <% thumb = image_tag(datastream_disseminator_url(document[:has_image_ssim].first.to_s.gsub(/info:fedora\//,""), "thumbnail300"),
                        :alt => document[blacklight_config.index.show_link.to_sym],
                        :class => 'index_thumb media-object') %>
    <% # bad hack to link to catalog#show rather than image#show %>
    <%= link_to thumb, '/search/' + document[:id], :class => 'pull-left', :'data-counter' => (document_counter + 1 + @response.params[:start].to_i) %>
  <% end %>
  <div class="media-body">

    <div class="item_index_title">
      <%= link_to_document(document, :label => blacklight_config.index.show_link.to_sym, :counter => (document_counter + 1 + @response.params[:start].to_i)) %>
    </div>

    <div class="item_index_details">
      <dl class="index_defList dl-horizontal">
        <%# genre field - basic %>
        <% if document[:genre_basic_ssim] %>
            <dt>Format:</dt>
            <dd>
              <% document[:genre_basic_ssim].each do |format| %>
                  <%= format %><br />
              <% end %>
            </dd>
        <% end %>
        <%# collex field %>
        <% if document[blacklight_config.collection_field.to_sym] %>
            <dt>Collection:</dt>
            <dd>
              <% document[blacklight_config.collection_field.to_sym].each do |collection| %>
                  <%= link_to_facet(collection, 'collection_name_ssim') %><br />
              <% end %>
            </dd>
        <% end %>
        <%# institution field %>
        <% if document[:physical_location_ssim] %>
            <dt>Institution:</dt>
            <dd>
              <% document[:physical_location_ssim].each do |institution| %>
                  <%= link_to_facet(institution, 'physical_location_ssim') %><br />
              <% end %>
            </dd>
        <% end %>
      </dl>
    </div>

  </div>

</div>