<div id="folderItemTools">
  <%= render :partial => 'shared/folder_tools' %>
</div>

<%= button_tag(:type => "submit", :class => "btn", :id => "cite_btn", :name => "commit", :value => t('blacklight.tools.cite')) do %>
    <%= content_tag(:i, "", :class => "icon-list-alt") + " " + t('blacklight.tools.cite') %>
<% end %>
<%= button_tag(:type => "submit", :class => "btn", :id => "email_btn", :name => "commit", :value => t('blacklight.tools.email')) do %>
    <%= content_tag(:i, "", :class => "icon-envelope") + " " + t('blacklight.tools.email') %>
<% end %>
<%= button_tag(:type => "submit", :class => "btn", :id => "remove_btn", :name => "commit", :value => t('blacklight.tools.remove')) do %>
    <%= content_tag(:i, "", :class => "icon-remove") + " " + t('blacklight.tools.remove') %>
<% end %>
<% if current_user %>
      <% existing_folders = current_user.folders %>
      <div class="btn-group folder-item-control">
        <button class="btn">
          <%= content_tag(:i, '', :class => 'icon-random') + ' ' + t('blacklight.tools.copy_to') %>
        </button>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <% unless params[:controller] == 'bookmarks' %>
              <li><%# link_to t('blacklight.bookmarks.title'),
                              bookmark_path(:id => ''),
                              :class=>'folder_item_add' %>
                <%# button_tag(:type => "submit", :class => "btn", :id => "copy_btn", :name => "commit", :value => t('blacklight.tools.copy_to'), params[:folder_id] => t('blacklight.bookmarks.title') ) do %>
                    <%# t('blacklight.bookmarks.title') %>
                <%# end %>
                <%= link_to t('blacklight.bookmarks.title'),
                            selected_folder_items_actions_path,
                            :folder_id => t('blacklight.bookmarks.title'),
                            :commit => t('blacklight.tools.copy_to'),
                            :method => :put
                %>
              </li>
          <% end %>
          <% existing_folders.each do |folder| %>
              <li><%= link_to folder.title,
                              folder_item_path(:id => '', :folder_id => folder.id),
                              :class=>'folder_item_add' %>
              </li>
          <% end %>
        </ul>
      </div>
<% end %>

<%= hidden_field_tag(:per_page, params[:per_page]) %>
<%= hidden_field_tag(:sort, params[:sort]) %>
<%= hidden_field_tag(:view, params[:view]) %>
<%= hidden_field_tag(:origin, params[:controller]) %>