<div id="footer" class="<%= container_classes %>">
  <div class="row">
    <div id="footer_logo" class="col-sm-3 hidden-xs">
      <%= link_to application_name, root_path, :id => 'footer_logo_link' %>
    </div>
    <div id="footer_address" class="col-sm-9">
      <div id="footer_social">
        <ul id="footer_social_icons" class="list-inline">
          <li class="footer_social_icon list-inline-item">
            <%= link_to(icon('fab', 'instagram-square', class: 'fa-3x', aria: { hidden: true }),
                        'https://www.instagram.com/digitalcommonwealth/',
                        target: '_blank',
                        aria: { label: 'Digital Commonwealth Instagram' }) %>
          </li>
          <li class="footer_social_icon list-inline-item">
            <%= link_to(icon('fab', 'facebook-square', class: 'fa-3x', aria: { hidden: true }),
                        'https://www.facebook.com/Digital-Commonwealth-251547586721/',
                        target: '_blank',
                        aria: { label: 'Digital Commonwealth Facebook' }) %>
          </li>
          <li class="footer_social_icon list-inline-item">
            <%= link_to(icon('fab', 'twitter-square', class: 'fa-3x', aria: { hidden: true }),
                        'https://twitter.com/digicomMA',
                        target: '_blank',
                        aria: { label: 'Digital Commonwealth Twitter' }) %>
          </li>
        </ul>
      </div>
      <div id="footer_address_text">
        <strong><%= t('blacklight.application_name') %></strong><br />
        <%= t('blacklight.footer.address') %><br />
        <%= link_to t('blacklight.pages.contact.title'), feedback_path %>  &nbsp; <%= link_to t('blacklight.pages.privacy.title'), privacy_path %>
      </div>
    </div>
  </div>
</div>

<%= debug(params) if Rails.env.development? %>
