<li>
  <%= link_to 'Collections', collections_path %>
</li>
<li>
  <%= link_to 'Institutions', institutions_path %>
</li>
<li>
  <%= link_to 'Locations', 'search/facet/subject_geographic_ssim' %>
</li>
<li>
  <%= link_to t('blacklight.pages.about.title'), about_path %>
</li>
<li>
  <%= link_to t('blacklight.pages.contact.title'), feedback_path %>
</li>

