<% nav_links = {
  search: {
    basic: { title: t('blacklight.search.nav.basic'),
             path: search_catalog_path },
    advanced: { title: t('blacklight.search.nav.advanced'),
                path: blacklight_advanced_search_engine.advanced_search_path }
  },
  explore: {
    map: { title: t('blacklight.maps.title'),
           path: map_path },
    collections: { title: t('blacklight.collections.nav'),
                   path: collections_path },
    institutions: { title: t('blacklight.institutions.nav'),
                    path: institutions_path },
    formats: { title: t('blacklight.navigation.format'),
               path: formats_facet_path }
  },
  for_educators: {
    primary_source_sets: { title: t('blacklight.pages.for_educators.primary_source_sets.title'),
                           path: primary_source_sets_path },
    lesson_plans: { title: t('blacklight.pages.for_educators.lesson_plans.title'),
                    path: lesson_plans_path },
    using_primary_sources: { title: 'Using Primary Sources',
                             path: primary_sources_path },
    searching_digital_commonwealth: { title: t('blacklight.pages.for_educators.searching_dc.title'),
                                      path: searching_dc_path }
  },
  about: {
    overview: { title: t('blacklight.pages.about_dc.title'),
                path: about_dc_path},
    news: { title: t('blacklight.pages.news.title'),
            path: t('blacklight.home.context.news.blog_url') },
    membership: { title: 'Membership & Programming',
                  path: 'http://digitalcommonwealth.wildapricot.org' },
    copyright: { title: t('blacklight.pages.copyright.title'),
                 path: copyright_path },
    content_statement: { title: t('blacklight.pages.content_statement.nav'),
                         path: content_statement_path },
    partners: { title: t('blacklight.pages.partners.title'),
                path: partners_path },
    api: { title: t('blacklight.pages.api.title'),
           path: api_path },
    contact: { title: t('blacklight.pages.contact.title'),
               path: feedback_path }
  }
} %>

<% nav_links.each_with_index do |(category, menu_items), index| %>
  <li class="nav-item dropdown<%= ' last_nav' if index == nav_links.length-1 %><%= ' active' if @nav_li_active == category.to_s %>">
    <a id="<%= category.to_s + '_dropdown' %>" class="nav-link dropdown-toggle" href="/<%= category.to_s %>"
       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= category.to_s.titleize %>
    </a>
    <div class="dropdown-menu<%= ' dropdown-menu-right' if index == nav_links.length-1 %>" role="menu"
         aria-labelledby="<%= category.to_s + '_dropdown' %>">
      <% menu_items.each do |_menu_item, link_hash| %>
        <%= link_to(link_hash[:title], link_hash[:path],
                    target: link_hash[:path].include?('http') ? '_blank' : nil,
                    class: 'dropdown-item', tabindex: '-1') %>
      <% end %>
    </div>
  </li>
<% end %>
