<%# putting this in a partial so it can be called from catalog#index %>
<%# when no search params present %>
<div id="content_home" class="span12">
  <div id="content_home_banner" class="row">

    <div id="carousel_wrapper" class="span6">
      <% if params[:controller] == 'catalog' %>
        <%= render :partial => 'pages/carousel', :locals => {:carousel_slides => carousel_slides} %>
      <% else %>
          <%= render :partial => 'pages/carousel', :locals => {:carousel_slides => @carousel_slides} %>
      <% end %>
    </div>

    <div id="hero_search" class="span6">
      <div id="hero_search_headline">
        <h2>
          <%= t('blacklight.home.hero_unit') %>
        </h2>
      </div>
      <div id="hero_search_form">
        <%= render_search_bar %>
      </div>
    </div>

  </div>

  <div id="content_home_browse" class="row">

    <div class="span4">
      <div id="collections_browse" class="well well-small media">
        <%= link_to(image_tag('dc-home_collections_thumb.jpg',
                              :class => 'media-object',
                              :alt => 'Browse All Collections'),
                    collections_path,
                    :class => 'pull-left') %>
        <div class="media-body">
          <h4 class="media-heading">Collections</h4>
          <%= link_to 'Browse All Collections', collections_path %>
        </div>
      </div>
    </div>

    <div class="span4">
      <div id="institutions_browse" class="well well-small media">
        <%= link_to(image_tag('dc-home_institutions_thumb.jpg',
                              :class => 'media-object',
                              :alt => 'Browse All Institutions'),
                    institutions_path,
                    :class => 'pull-left') %>
        <div class="media-body">
          <h4 class="media-heading">Institutions</h4>
          <%= link_to 'Browse All Institutions', institutions_path %>
        </div>
      </div>
    </div>

    <div class="span4">
      <div id="places_browse" class="well well-small media">
        <%= link_to(image_tag('dc-home_places_thumb.jpg',
                              :class => 'media-object',
                              :alt => 'Browse All Places'),
                    places_facet_path,
                    :class => 'pull-left') %>
        <div class="media-body">
          <h4 class="media-heading">Places</h4>
          <%= link_to 'Browse All Places', places_facet_path %>
        </div>
      </div>
    </div>


  </div>

  <div id="content_home_context" class="row">

    <div id="content_home_about" class="span6">
      <h5>About This Site</h5>
      <p>This repository provides access to digital collections belonging to members of Digital Commonwealth, a statewide consortium of libraries, museums, historical societies, and archives across Massachusetts.</p>
      <p>This is a beta version; not all collections are available here. For more, go to the current <%= link_to 'Digital Commonwealth',
                                                                                                                 'http://digitalcommonwealth.org',
                                                                                                                 :target => '_blank' %> site.</p>
      <p class="more-info-link">
        <%= link_to 'Learn more >>', about_path %>
      </p>
    </div>

    <div id="content_home_news" class="span6">
      <h5>News &amp; Announcements</h5>
      <%= render_dc_blog_feed %>
      <p class="more-info-link">
        <%= link_to 'More news >>',
                    'http://digitalcommonwealth.org/blog/',
                    :target => '_blank' %>
      </p>

    </div>

  </div>



</div>