<%# putting this in a partial so it can be called from catalog#index %>
<%# when no search params present %>
<div id="content_home" class="col-sm-12">
  <div id="content_home_banner" class="row">

    <div id="carousel_wrapper" class="col-sm-6">
      <% if params[:controller] == 'catalog' %>
        <%= render :partial => 'pages/carousel', :locals => {:carousel_slides => carousel_slides} %>
      <% else %>
          <%= render :partial => 'pages/carousel', :locals => {:carousel_slides => @carousel_slides} %>
      <% end %>
    </div>

    <div id="hero_search" class="col-sm-6">
      <div id="hero_search_headline">
        <h2>
          <%= t('blacklight.home.hero_unit') %>
        </h2>
      </div>
      <div id="hero_search_form">
        <%= render_search_bar %>
      </div>
    </div>

  </div>

  <div id="content_home_browse" class="row">

    <div class="col-sm-3">
      <div id="map_browse" class="browse_item">
        <%= link_to(image_tag('dc-home_map_thumb.jpg',
                              :class => 'browse_img img-circle',
                              :alt => 'Browse by Map'),
                    map_path,
                    :class => '') %>
        <h4 class=""><%= link_to 'Map', map_path %></h4>
        <p class="browse_item_desc">
          Use the map to search for materials from locations across the globe.
        </p>
      </div>
    </div>

    <div class="col-sm-3">
      <div id="collections_browse" class="browse_item">
        <%= link_to(image_tag('dc-home_collections_thumb.jpg',
                              :class => 'browse_img img-circle',
                              :alt => 'Browse All Collections'),
                    collections_path,
                    :class => '') %>
        <h4 class="">
          <%= link_to t('blacklight.collections.index.title'), collections_path %>
        </h4>
        <p class="browse_item_desc">
          Browse collections representing over 400 years of Massachusetts history.
        </p>
      </div>
    </div>

    <div class="col-sm-3">
      <div id="institutions_browse" class="browse_item">
        <%= link_to(image_tag('dc-home_institutions_thumb.jpg',
                              :class => 'browse_img img-circle',
                              :alt => 'Browse All Institutions'),
                    institutions_path,
                    :class => '') %>
        <h4 class=""><%= link_to t('blacklight.institutions.title'), institutions_path %></h4>
        <p class="browse_item_desc">
          View materials from libraries, historical societies, museums, and other cultural institutions.
        </p>
      </div>
    </div>

    <div class="col-sm-3">
      <div id="formats_browse" class="browse_item">
        <%= link_to(image_tag('dc-home_format_thumb.jpg',
                              :class => 'browse_img img-circle',
                              :alt => 'Browse All Formats'),
                    formats_facet_path,
                    :class => '') %>
        <h4 class="">
          <%= link_to t('blacklight.navigation.format') + 's', formats_facet_path %>
        </h4>
        <p class="browse_item_desc">Photographs, maps, postcards, manuscripts, books, artifacts, and more.</p>
      </div>
    </div>

  </div>

  <div id="content_home_context" class="row">

    <div id="content_home_about" class="col-sm-6">
      <h4>About This Site</h4>
      <p>This site provides access to photographs, manuscripts, audio recordings, and other materials of historical interest that have been digitized and made available by members of Digital Commonwealth, a statewide consortium of libraries, museums, archives, and historical societies from across Massachusetts.</p>

      <p class="more-info-link">
        <%= link_to 'Learn more >>', about_dc_path %>
      </p>
    </div>

    <div id="content_home_news" class="col-sm-6">
      <h4>News &amp; Announcements</h4>
      <%= render_dc_blog_feed %>
      <p class="more-info-link">
        <%= link_to 'More news >>',
                    blog_path,
                    :target => '_blank' %>
      </p>

    </div>

  </div>



</div>