<% @page_title = t('blacklight.pages.privacy.title') + " - " + application_name %>
<div class="col-md-12 col-lg-9 about_content">
  <h2><%= t('blacklight.pages.privacy.title') %></h2>

  <h4 class="section_heading">Cookies and data collection</h4>
  <p>This site uses cookies (small, temporary text files stored in your browser) and collects
    <strong>anonymous</strong> statistics about visitor behavior to improve our understanding of
    how users interact with this site.</p>
  <p>Examples of the kinds of data we collect are:</p>
  <ul class="text_list">
    <li>aggregated counts of pages viewed</li>
    <li>technical details about your browser</li>
    <li>interface elements clicked</li>
    <li>how much time is spent on a page</li>
  </ul>
  <p>We use this data to better understand what collections and materials are used, and to measure how
    certain types of interface elements allow users to better explore and experience site content.</p>

  <p>We do not store personal identifying information such as your name or email address unless you provide
    it to us in a <%= link_to 'feedback form', feedback_path %>, or
    <%= link_to 'sign up for a user account', new_user_session_path %>.
    We do not tie your personal information to a browsing session history.</p>

  <h4 class="section_heading">Cookies used by third-party services</h4>
  <p>In order to collect and analyze data about site visits, this site uses <%= link_to 'Google Analytics',
                                                                                        'https://analytics.google.com/',
                                                                                        target: '_blank' %>,
    a web analytics service offered by Google that tracks and reports website traffic. Google Analytics
    uses cookies (small, temporary text files stored in your browser) to collect information and report
    site usage statistics without personally identifying individual visitors.</p>

  <p>You can <%= link_to 'opt out of Google Analytics', 'https://tools.google.com/dlpage/gaoptout', target: '_blank' %>
    if you wish. There are also a number of third party browser extensions and tools to allow you to block
    Google Analytics in your browser.</p>

  <p>This site uses a service called <%= link_to 'AddThis', 'https://www.addthis.com/', target: '_blank' %> to
    facilitate sharing items on social media. When using these sharing links, AddThis collects some personal
    information from the device used to interact with this site. Read more about the <%= link_to 'AddThis Privacy Policy',
                                                                'https://www.oracle.com/legal/privacy/addthis-privacy-policy.html',
                                                                target: '_blank' %>.</p>

  <h4 class="section_heading">Opting out of data collection</h4>
  <p>You can change your browser's settings to restrict the use of cookies and local or session storage.
    See the link below for information on how to accomplish with:</p>
  <ul class="text_list">
    <li><%= link_to 'Google Chrome',
                    'https://support.google.com/chrome/bin/answer.py?hl=en-GB&answer=95647&p=cpn_cookies',
                    target: '_blank' %></li>
    <li><%= link_to 'Apple Safari',
                    'https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac',
                    target: '_blank' %></li>
    <li><%= link_to 'Mozilla Firefox',
                    'http://support.mozilla.org/en-US/kb/Blocking%20cookies',
                    target: '_blank' %></li>
    <li><%= link_to 'Internet Explorer',
                    'https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies',
                    target: '_blank' %></li>
  </ul>

  <p>To request that your data and/or user account be deleted, please <%= link_to 'contact us', feedback_path %>.
    In the "Topic" dropdown, select "login / sign up for account," and indicate that you want your data deleted
    in the "Message" part of the form.
  </p>
</div>
