<% @page_title = t('blacklight.pages.for_educators.searching_dc.title') + " - " + application_name %>
<div class="col-md-12 col-lg-9 about_content">
  <h2><%= t('blacklight.pages.for_educators.searching_dc.title') %></h2>

  <h5 class="section_heading">About Digital Commonwealth</h5>
  <p>
    Since its creation in 2006, Digital Commonwealth has grown into an extensive repository of nearly one million items. Photographs, manuscripts, letters, scrapbooks, maps, artifacts, audio/video recordings, drawings, prints, and paintings are all free for research, education, posterity and pure enjoyment for all. Material from institutions of all sizes, both public and private, is either hosted or harvested by Digital Commonwealth and the Digital Lab at the Boston Public Library. The curated collections come from public libraries, colleges and universities, historical societies, archives, and community organizations throughout Massachusetts.
  </p>

  <h5 class="section_heading">Home Page</h5>
  <div class="searching_dc_image">
    <%= image_tag 'searching-dc_home', alt: 'Digital Commonwealth home page' %>
  </div>
  <p>
    Users of Digital Commonwealth typically find the site intuitive and easy to navigate. From the landing page, it is possible to search geographically with the Map button, by Collection, by Institution, or by Format. A general search box is also available with field options (Title, Subject, Place, Creator).
  </p>
  <ul>
    <li>
      <%= link_to root_path do %>
        Go to the home page <%= content_tag(:i, '', class:'fa fa-angle-double-right') %>
      <% end %>
    </li>
  </ul>

  <h5 class="section_heading">Searching via Map</h5>
  <div class="searching_dc_image">
    <%= image_tag 'searching-dc_map', alt: 'Digital Commonwealth map search' %>
  </div>
  <p>
    Users can select a part of the world to search for items. While most of the material corresponds to the Commonwealth of Massachusetts, other states, countries and continents are also referenced.
  </p>
  <ul>
    <li>
      <%= link_to map_path do %>
        View the map <%= content_tag(:i, '', class:'fa fa-angle-double-right') %>
      <% end %>
    </li>
  </ul>

  <h5 class="section_heading">Searching via Collection</h5>
  <div class="searching_dc_image">
    <%= image_tag 'searching-dc_collection', alt: 'Digital Commonwealth collection page' %>
  </div>
  <p>
    Digital Commonwealth provides access to over 1,500 individual collections of varying size--from less than one hundred items to thousands each, including the work of notable photographers Leslie Jones, Arthur Griffin, Peter Simon and Diana Mara. The collections are listed alphabetically, with dates coming before names. Within each collection, users can browse by subject, place, format and date.
  </p>
  <ul>
    <li>
      <%= link_to collections_path do %>
        View the list of collections <%= content_tag(:i, '', class:'fa fa-angle-double-right') %>
      <% end %>
    </li>
  </ul>

  <h5 class="section_heading">Searching via Institution</h5>
  <p>
    Searching by institution works the same way as searching by collection. More than 200 institutions contribute to
    Digital Commonwealth. Within the alphabetical list filters include subject, place, format, date and also
    availability. Member institutions include The American Antiquarian Society, Brigham and Women's Faulkner
    Hospital, Boston Children's Museum, Digital Transgender Archive, UMass, WGBH, and Woods Hole Oceanographic
    Institution among so many more.
  </p>
  <ul>
    <li>
      <%= link_to institutions_path do %>
        View the list of institutions <%= content_tag(:i, '', class:'fa fa-angle-double-right') %>
      <% end %>
    </li>
  </ul>

  <h5 class="section_heading">Searching via Format</h5>
  <div class="searching_dc_image">
    <%= image_tag 'searching-dc_format', alt: 'Digital Commonwealth Formats page' %>
  </div>
  <p>
    For those users new to Digital Commonwealth, format is perhaps the best manner of exploring the depth and breadth of collections. See the list below of the many formats available for browsing. For students whose teachers or professors have asked for a particular kind of primary source, the ability to search in this way allows for a very focused and successful search.  As is standard, filters include subject, place, date, collection and institution.
  </p>
  <ul>
    <li>
      <%= link_to formats_facet_path do %>
        View the list of formats <%= content_tag(:i, '', class:'fa fa-angle-double-right') %>
      <% end %>
    </li>
  </ul>

  <h5 class="section_heading">Zoom in for a closer look</h5>
  <div class="searching_dc_image">
    <%= image_tag 'searching-dc_viewer', alt: 'Digital Commonwealth zooming image viewer' %>
  </div>
  <p>
    When you've located an item and clicked on it, a magnifying glass icon appears in the upper right. By selecting it, a new window opens and users can zoom in closer and also rotate the image. Much additional historical detail can be gained in this way.
  </p>

</div>
