<li class="folders_index_list_item">
  <h4>
    <%= link_to folder.title, folder, :class => "folder_title" %>
    <small>
      <div class="folder_visibility">
        <% if folder.visibility == 'private' %>
            <%= content_tag(:i, '', :class => 'icon-lock') %>
            <span class="visibility_private"><%= folder.visibility %></span>
        <% else %>
            <%= content_tag(:i, '', :class => 'icon-eye-open') %>
            <span class="visibility_private"><%= folder.visibility %></span>
        <% end %>
      </div>
      <%= pluralize(folder.folder_items.length.to_s,'item') %>
    </small>
  </h4>
  <% if current_user %>
      <!--
      <div class="delete_folder">
      <%# link_to content_tag(:i, '',:class => 'icon-remove'),
                  folder,
                  :method => :delete,
                  :data => { :confirm => t('blacklight.folders.delete.confirm') },
                  :title => "delete this folder" %>
      </div>
      -->
  <% end %>
  <% if folder.description %>
      <%= folder.description %>
  <% end %>
</li>