<% @page_title = @folder.title + " - " + application_name %>

<%= javascript_include_tag "commonwealth/folder_tools" %>

<div id="content" class="folder_container span9">

  <h2>Folder: <%= @folder.title %>
    <% if current_user %>
    <small>
      [<%= link_to t('blacklight.folders.edit'),
                   edit_folder_path(@folder),
                   :title => "edit this folder" %> |
      <%= link_to t('blacklight.folders.delete.delete'),
                  @folder, :method => :delete,
                  :data => { :confirm => t('blacklight.folders.delete.confirm') },
                  :title => t('blacklight.folders.delete.delete') %> |
      <%= link_to t('blacklight.folder_items.clear.action'),
                  clear_folder_items_path,
                  :method => :delete,
                  :data => { :confirm => t('blacklight.folder_items.clear.confirm') } %>]</small>
    <% end %>
  </h2>
  <%# render 'shared/tools' %>
  <% if @folder.description %>
      <p><%= @folder.description %></p>
  <% end %>

  <% unless @folder_items.empty? %>

      <%= render 'catalog/sort_and_per_page' %>

      <%= form_tag selected_folder_items_actions_path, :method => :put, :id => "item_actions_form" do %>

        <%= render :partial => 'shared/folder_item_actions' %>

        <%= render_document_index %>

      <% end %>

      <%= render 'catalog/results_pagination' %>

  <% else %>

    <p><strong><%= t('blacklight.folders.empty') %></strong></p>
    <p><%= t('blacklight.folders.help.add_items') %></p>

  <% end %>

</div>

<div id="sidebar" class="span3 folder_facets">
  <%= render :partial=>'catalog/facets' %>
</div><!--/well -->
