<% @page_title = t('blacklight.advanced_search.title', :application_name => application_name) %>

<div id="content" class="span12 basic-search">
  <h2><%= t('blacklight.advanced_search.page_title') %></h2>

  <ul id="search_mode_tabs" class="nav nav-tabs">
    <li class="active"><a href="#">Basic</a></li>
    <li class="hidden-phone"><%= link_to 'Advanced', advanced_path %></li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="basic_search">

      <div class="row">

        <div class="span9">

          <div id="basic_search_wrapper" class="well">

            <%= form_tag search_action_url,
                         :method => :get,
                         :id => 'basic_search_form',
                         :class => 'basic-search-form form-inline' do %>

                <%= search_as_hidden_fields(:omit_keys => [:q, :qt, :page, :f, :sort]).html_safe %>
                <label for="q" class="hide-text">
                  <%= t('blacklight.basic_search.form.label') %>
                </label>
                <%= text_field_tag :q,
                                   nil,
                                   :placeholder => t('blacklight.basic_search.form.q'),
                                   :class => 'search_q q input-xlarge',
                                   :id => 'q',
                                   :autofocus => should_autofocus_on_search_box? %>

                <% unless search_fields.empty? %>
                    <label for="search_field" class="hide-text">
                      <%= t('blacklight.basic_search.form.select') %>
                    </label>
                    <%= select_tag(:search_field,
                                   options_for_select(search_fields,
                                                      h(params[:search_field])),
                                   :title => t('blacklight.basic_search.form.search_indexes'),
                                   :id => 'basic_search_indexes',
                                   :class=> 'btn search_index_select') %>
                <% end %>

                <button type="submit" class="btn btn-primary search-btn" id="search">
                  <span class="submit-search-text">
                    <%=t('blacklight.search.form.submit')%>
                  </span>
                  <i class="icon-search icon-white"></i>
                </button>

            <% end %>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>