<% # container for a single doc -%>
<div class="col-md-4 <%= cycle("new_row","","") %>">
    <div class="document <%= render_document_class document %>
                         <%= !params[:view].blank? ? params[:view] + "-view" : "grid-view" %> thumbnail" itemscope itemtype="<%= document.itemtype %>">

    <%# render :partial => 'document_header', :locals => { :document => document, :document_counter => document_counter } %>

    <% # main container for doc partial view -%>
        <%# render_document_partial document, :index, :document_counter => document_counter # BL4 %>
      <%= render_document_partials document, blacklight_config.view_config(document_index_view_type).partials, :document_counter => document_counter %>
    </div>
</div>