<% if current_user %>
    <% existing_folders = current_user.folders %>
    <div id="folder_item_toggle">
      <% unless existing_folders.empty? %>

          <% existing_folders.each do |ex_fldr| %>
              <p><%= ex_fldr.title + ": " + ex_fldr.folder_items.count.to_s %></p>
              <p><%= ex_fldr.folder_items.to_a.inspect %>
              <%# ex_fldr.folder_items.each do |ex_fldr_itm| %>
                <%# ex_fldr_itm.document_id + ";" %>
              <%# end %>
              </p>
          <% end %>

          <% existing_folder_item = current_user.existing_folder_item_for(document.id) %>

          <%= existing_folder_item.inspect %>

          <% unless existing_folder_item %>

              <div class="btn-group folder-item-control">
                <button class="btn">
                  <i class="icon-folder-open"></i> <%= t('blacklight.folder_items.add.button') %>
                </button>
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <% existing_folders.each do |folder| %>
                      <li><%= link_to folder.title,
                                      folder_item_path(document, :folder_id => folder.id),
                                      :method => :put,
                                      :class=>'folder_item_add',
                                      :remote => true %>
                      </li>
                  <% end %>
                </ul>
              </div>

          <% else %>

              <div class="btn-group folder-item-control">
                <button class="btn">
                  <i class="icon-folder-open"></i> <%= t('blacklight.folder_items.remove.button') %>
                </button>
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><%= link_to existing_folder_item.folder.title,
                                  folder_item_path(document),
                                  :method => :delete,
                                  :class=>'folder_item_add',
                                  :remote => true %>
                  </li>
                </ul>
              </div>

          <% end %>

      <% else %>

         <%# modal create folder form for user who has no folders %>
          <%= link_to content_tag(:i, "", :class => "icon-folder-open") + " " + t('blacklight.folder_items.add.button'),
                      create_folder_catalog_path(:id => @document),
                      {:id => 'createfolderLink', :class => 'lightboxLink btn'} %>

      <% end %>
    </div>
<% end %>