<%# show the object image(s)/file(s) and metadata %>

<% image_files = has_image_files?(@object_files) %>
<% if image_files %>
    <% case image_files.length %>
        <% when 1 %>
            <%= render :partial => 'catalog/_show_partials/show_default_img',
                       :locals => {:document => @document,
                                   :image_pid => image_files.first,
                                   :page_sequence => {:total => 1}} %>
        <%# when 2..7 %>
        <% else %>
            <%= render :partial => 'catalog/_show_partials/show_multi_img',
                       :locals => {:document => @document} %>
        <%# else %>
            <%# "PAGE TURNER [TK]" %>
    <% end %>
<% end %>

<div class="row">

  <%# show thumbnail or icon if object has no images %>
  <% unless image_files %>
      <div id="thumb_img_show_container" class="col-sm-3">
        <%= create_thumb_img_element(@document,
                                     %w(thumb_img_show),
                                     params[:action]) %>
      </div>
  <% end %>

  <div class="<%= params[:action]%>_details col-sm-9">

    <% # metadata display -%>
    <%= render :partial => 'catalog/_show_partials/show_default_metadata', :locals => {:document => @document} %>

  </div>

  <div id="sidebar" class="col-sm-3">
    <%# render files to download %>
    <% if has_downloadable_files?(@object_files) %>
        <%= render :partial => 'catalog/_show_partials/show_downloads', :locals => {:object_files => @object_files} %>
    <% end %>

    <% # bookmark/folder/sharing functions -%>
    <%= render_document_sidebar_partial  %>
  </div>

</div>