<%# show the object image(s)/file(s) and metadata %>

<% @image_files = has_image_files?(@object_files) %>
<% if @image_files %>
    <% case @image_files.length %>
        <% when 1 %>
            <%= render :partial => 'catalog/_show_partials/show_default_img',
                       :locals => {:document => @document,
                                   :image_pid => @image_files.first} %>
        <% when 2..50 %>
            <%= render :partial => 'catalog/_show_partials/show_multi_img',
                       :locals => {:document => @document} %>
        <% else %>
            <%= "PAGE TURNER [TK]" %>
    <% end %>
<% end %>

<div class="row">

  <%# show thumbnail or icon if object has no images %>
  <% unless @image_files %>
      <div id="thumb_img_show_container" class="span3">
        <%= create_thumb_img_element(@document[:exemplary_image_ssi],
                                     @document[:type_of_resource_ssim],
                                     @document[blacklight_config.index.show_link.to_sym],
                                     'thumb_img_show') %>
      </div>
  <% end %>

  <% # metadata display -%>
  <%= render :partial => 'catalog/_show_partials/show_default_metadata', :locals => {:document => @document} %>

  <div id="sidebar" class="span3">
    <%# render files to download %>
    <% if has_downloadable_files?(@object_files) %>
        <%= render :partial => 'catalog/_show_partials/show_downloads', :locals => {:object_files => @object_files} %>
    <% end %>

    <% # bookmark/folder/sharing functions -%>
    <%= render_document_sidebar_partial  %>
  </div>

</div>