<%# default partial to display solr document fields in catalog show view -%>

<% image_datastream = datastream_disseminator_url(document[:id],'accessMaster') %>
<% image_metadata = Rails.configuration.djatoka_resolver.metadata(image_datastream).perform %>
<% object_title = render_document_show_field_value(:document=>document, :field=>"title_t") %>

<div id="img_show_container">
  <% img_element = djatoka_image_tag(image_datastream,
                                     {:resolver => Rails.configuration.djatoka_resolver.base_url,
                                      :scale => [1170,0],
                                      :alt => object_title,
                                      :class => "img_show",}) %>

  <% if image_metadata.width.to_i < 724 && image_metadata.height.to_i < 700 %>
      <%= img_element  %>
  <% else %>
      <%= link_to(img_element, "#", :id => "img_viewer_link",
                  :class => "img_viewer_link",
                  :title => t('blacklight.images.zoom')) %>

      <%= render :partial => "images/image_viewer", :locals => {:object_title => object_title,
                                                                :image_datastream => image_datastream,
                                                                :image_metadata => image_metadata} %>
  <% end %>

</div>

<div class="row">
    <div class="<%= params[:action]%>_details span9">
        <%= render :partial => "images/show_details", :locals => {:document => @document} %>
    </div>

    <div id="sidebar" class="span3">
        <% # bookmark/folder/sharing functions -%>
        <%= render_document_sidebar_partial  %>
    </div>
</div>