<div class="span9" id="contact_content">
<h2><%= t('blacklight.feedback.title') %></h2>

<% unless @errors.empty? %>
    <div id="error_explanation" class="alert alert-error">
        <ul class="errors">
            <% @errors.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_tag(feedback_path, :id => 'feedback_form', :class => 'form-horizontal') do %>
    <div class="control-group">
      <label class="control-label"><%= t('blacklight.feedback.form.name') %></label>
      <div class="controls">
        <%= text_field_tag :name, params[:name] %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label"><%= t('blacklight.feedback.form.email') %></label>
      <div class="controls">
        <%= text_field_tag :email, params[:email] %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label"><%= t('blacklight.feedback.form.message') %></label>
      <div class="controls">
        <%= text_area_tag :message, params[:message], :size => '24x6', :class => 'input-xlarge' %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= submit_tag(t('blacklight.feedback.submit'), :class => 'btn') %>
      </div>
    </div>

<% end %>
</div>